* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: Montserrat;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

/* button */
.btn {
  display: inline-block;
  background: rgba(230, 223, 199, 0.24);
  border: 2px solid #e6dfc7;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  padding: 18px 45px;
  text-transform: uppercase;
  color: #e6dfc7;
  transition: all 0.3s;
}

.btn:hover {
  background: rgba(235, 207, 111, 0.24);
  border: 2px solid #ebcf6f;
  color: #ebcf6f;
}
/* end - button */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
